{% extends 'base.html.twig' %}

{% block title %}New Citizen{% endblock %}

{% block body %}

        {{ form_start(form) }}

        <div style="display:flex; gap:10px; flex-direction: column;">
            {{ form_label(form.name) }} {{ form_widget(form.name, {'attr': {'class': ''}}) }}
            {{ form_label(form.surname) }} {{ form_widget(form.surname, {'attr': {'class': ''}}) }}
            {{ form_label(form.phone_number) }} {{ form_widget(form.phone_number, {'attr': {'class': ''}}) }}



            {{ form_row(form.save, {'attr': {'class': '',
                'style': ''},
                'label': 'Create this Citizen'}) }}
        </div>

        {{ form_end(form) }}

{% endblock %}
